<span class="badge badge-primary">Celkem řádků: {{ FilteredCount }}</span>
<div class="card">
    <div class="card-body table-responsive ">
        {{#unless IsEmpty}}
            <table class="table table-hover table-sm text-nowrap table-striped">
                <thead class="thead-dark">
                    {{#each Columns}}
                        <th>{{this.Caption}}</th>
                    {{/each}}
                </thead>
                <tbody>
                    {{#each Data}}
                        <tr>
                            {{#each this}}
                                <td>{{this}}</td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/unless}}


        {{#if IsEmpty}}
            <div class="alert alert-secondary m-0">
                ⓘ Tabulka je prázdná
            </div>
        {{/if}}
    </div>
    <div class="card-footer border-top bg-light">
        <div class="row">
            <div class="col-12">
                <div class="form-inline d-inline">
                    {{#unless IsEmpty}}
                        {{> Pagination}}
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>